  
.calendar {
    display: grid;
    grid-template-areas: 
    "empty    empty"
    "time contents";
    grid-template-columns: 120px;
    grid-template-rows: 80px;
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
}

.planes {
    grid-area: planes;
    display: grid;


    font-size: 12px;
    background-color: #E4F1FD;
    border-bottom: 1px solid rgba(136, 48, 129, 0.25);
    border-left: 1px solid rgba(136, 48, 129,.25);
    border-top: 1px solid rgba(136, 48, 129, 0.25);
}

.planes > div {
    display: grid;
    align-items: center;
    justify-content: center;
    
} 

.empty {
    display: grid;
    grid-area: empty;
    border-bottom: 1px solid rgba(136, 48, 129, 0.25);
    border-left: 1px solid rgba(136, 48, 129,.25);
    border-top: 1px solid rgba(136, 48, 129, 0.25);
}
.times {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(11, 1fr); 
    font-size: 2rem;
    background-color: #F7F7F7;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}



.times > div {
    display: grid;
    align-items: center;
    justify-content: center;
   
    border-bottom: 1px solid rgba(124, 45, 131, 0.25);
}

.content {
    position: relative;
    grid-area: contents;
    display: grid;
    grid-template-rows: repeat(11, 1fr); 
  /*   grid-template-columns: repeat(7, 1fr); */
    border-right: 1px solid rgba(124, 45, 131, 0.25);
    grid-auto-flow: column;
    
}

.content > div {
    border-left: 1px solid rgba(124, 45, 131, 0.25);
    border-bottom: 1px solid rgba(124, 45, 131, 0.25);
   
}

.content > div textarea {
    grid-area: time;
    display: grid;
    border-left: 1px solid rgba(124, 45, 131, 0.25);
    border-bottom: 1px solid rgba(124, 45, 131, 0.25);
    max-width: 100%;
    height: 75px;

    font-size: 2rem;
    resize: none;
    
}


button {
    margin: 5px;
    float: right;
}


.event {
    padding-top: 8px;
    font-size: 14px;
    position: absolute;
    background-color: yellow;
    height: 100%;
}

.content > div:nth-child(even) {
    background-color: #F7F7F7;
}
.content > div:nth-child(odd) {
    background-color: #F7F7F7;
}

.past {
    background-color: aquamarine;
}
.present {
    background-color: rgb(112, 122, 155);
}
.future {
    background-color: rgb(67, 110, 74);
}
